#ContactForm {
  margin: auto;
  background-color: white;
  overflow: hidden;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  max-width: 800px;
}

#ContactSection {
  background-color: #37517e;

  h2 {
    color: white;
    text-align: center;
  }

  p {
    color: white;
    text-align: center;
  }
}
