@import 'src/styles/bootstrap';

#FormSection {
  background-color: #f3f5fa;

  h5 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: map-get($theme-colors, 'primary');
  }

  .privacy {
    text-decoration: underline;
  }
}
