// Import Bootstrap and its default variables
@import 'styles/bootstrap';

body {
  background: transparent !important;
  font-family: "Open Sans", sans-serif;
}

#MainSection {
  background-color: map-get($theme-colors, 'primary');

  h1 {
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    color: white
  }

  h2 {
    color: white;
    line-height: 32px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: 300;
    text-transform: none;
    margin-top: 20px;
  }
}

#MainLogo {
  height: 35px;
}

.navbar > .container {
  justify-content: space-between;
}

.header-moved {
  background-color: rgba(40, 58, 90, 0.9);
}

.main-nav {
  padding: 15px 0 !important;

  .nav-link {
    color: white !important;
    font-size: 15px !important;
    padding: 0.5rem 1rem !important;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn-outline-light:hover {
    background: rgba(#FFF, 0.1);
  }
}

.main-nav.header-moved {
  .nav-link {
    color: white !important;
  }
}
